.footBG {
  background: black;
  color: white;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 15px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  border-top: 3px solid #9a9c9e;

  h1 {
    font-size: 3.8rem;
    margin-top: 15px;
  }
}
